<!DOCTYPE html>
<html lang="en">
<script async src="../js/index.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profil.css" />
    <link rel="stylesheet" href="../css/styleIndex.css" />
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <title>Gastro2Go</title>
</head>

<body>
	
    <header>
        <div class="headerItemImg">
            <div>
                <a href="index.html"><img class="GastroIcon" src="../img/GASTRO.png" alt="???"></a>
            </div>
        </div>
        <div class="headerItem">
		<a href="panel.html">Twój Panel</a>
		<a href="profil.html">Profil</a>
		<a href="kontakt.html">Kontakt</a>
		<a href="O_nas.html">O Nas</a>
		<a href="index.html">Wyloguj</a>
        </div>
    </header>


    <main>
<table id=testing>
  
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
     <tr>
      <td>Sum</td>
      <td>$180</td>
    </tr>
  </table>
       
    </main>

    <footer>
        <div>
            <p>Jakub Żarkowski S16574</p>
        </div>
      

    </footer>

</body>

</html>